@import '../../styles/colors';
@import '../../styles/spacing';

$cover-img: url('../../assets/Hero/hero_cover.jpg');

.Hero {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: $spacing-xl;

  &__title {
    font-size: 87px;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 95.7px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &__cover {
    align-items: flex-end;
    background-image: $cover-img;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    height: 408px;
    justify-content: flex-end;
  }

  &__button {
    background-color: $primitive-primary-600;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: $spacing-md $spacing-lg;

    &Container {
      background-color: #ffffff;
      border-radius: 24px 0 0 0;
      display: flex;
      padding: $spacing-md 0 0 $spacing-md;
      position: relative;

      &:before {
        border-bottom-right-radius: 50%;
        box-shadow: $spacing-lg 0 0 0 #ffffff;
        content: '';
        height: 48px;
        position: absolute;
        right: 0;
        top: -48px;
        width: 48px;
      }

      &:after {
        border-bottom-right-radius: 50%;
        bottom: 0px;
        box-shadow: 0 $spacing-lg 0 0 #ffffff;
        content: '';
        height: 48px;
        left: -48px;
        position: absolute;
        width: 48px;
      }
    }

    &:hover,
    &:active {
      background-color: $primitive-primary-700;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__founders {
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.025em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__values {
    background-color: $primitive-gray-100;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    gap: $spacing-xs;
    padding: $spacing-md;
    align-items: stretch;
  }
}
