$primitive-complementary-300: #f8ebff;
$primitive-complementary-400: #654eff;

$primitive-gray-100: #f5f5f5;
$primitive-gray-800: #424242;
$primitive-gray-900: #212121;

$primitive-primary-600: #ffd900;
$primitive-primary-700: #c9a900;
