@import 'styles/colors';
@import 'styles/spacing';

.App {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 1298px;
  padding: $spacing-xs;

  &__header {
    align-items: flex-start;
    color: $primitive-gray-900;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-lg;
  }

  a {
    color: $primitive-gray-900;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    justify-content: flex-start;
  }

  &__section {
    margin-top: 120px;

    &Title {
      font-size: 32px;
      letter-spacing: -0.025em;
      line-height: 41.6px;
      margin: 0 0 $spacing-md $spacing-lg;
    }
  }
}
